h1 {
    text-align:left!important;
}

h2 {
    margin: 1.3em 0 .7em 0!important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)!important;
    line-height: 30px!important;
}

h3 {
    margin: 1.3em 0 .7em!important;
    border-bottom: solid 1px #d9d9d9!important;
    line-height: 1.4!important;
}

a {
    color: #117ec6!important;
    text-decoration: none!important;
    border-bottom: none!important;
}

pre {
    background-color: #f8f8f8!important;
    border: 1px solid #cccccc!important;
    font-size: 13px!important;
    line-height: 19px!important;
    overflow: auto!important;
    padding: 6px 10px!important;
    border-radius: 3px!important;
}