/setup/ansible/group_vars/development.yml
/setup/ansible/group_vars/production.yml
/setup/ansible/group_vars/staging.yml
.DS_Store
/frontend/node_modules
/frontend/dist
/node_modules/
.idea
*.iml
*.db
.DS_Store
venv
env
__pycache__