<article class="comment img">
	<header class="cf">
		<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
	</header>
	<section class="detail">
		<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
		<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
		<section class="img cf">
			<img src="/lib/img/img_dummy002.gif" alt="dummy" />
		</section>
	</section>
	<aside class="cf">
		<ul class="buttons">
			<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
		</ul>
	</aside>
</article>