<article class="comment img">
	<header class="cf">
		<img class="ico" src="{{comment.user.iconUrlMedium}}" alt="{{comment.user.name}}" />
	</header>
	<section class="detail">
		<h2>{{comment.user.name}}</h2><time>{{ comment.addTime | timeAgo }}</time>
		<p [innerHTML]="comment.message | message" ></p>

		<!-- TODO: 画像 -->
		<!--<section class="img cf">-->
			<!--<img src="/lib/img/img_dummy002.gif" alt="dummy" />-->
		<!--</section>-->

	</section>
	<aside class="cf">
		<ul class="buttons">
			<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
		</ul>
	</aside>
</article>