<!DOCTYPE html>
<html>
<head lang="ja">
	<meta charset="UTF-8">
	<link href="/bundle.css" rel="stylesheet" type="text/css" />
	<title>{{title}}</title>
</head>
<body>

    <!-- header -->
    <header id="header" role="banner">
        <h1><img class="logo" src="images/header_logo.png" alt="{{title}}" ></h1>

        <img class="user-icon" src="{{user.iconUrlMedium}}">

        <div class="notification-button">0</div>

        <div class="navigation">
            <div class="navigation-item">
                紳士クラスタ
            </div>
            <div class="navigation-item">
                N88-BASIC
            </div>
            <div class="navigation-item current">
                ホーム
            </div>
            <div class="navigation-item">
                紳士クラスタ
            </div>
            <div class="navigation-item">
                N88-BASIC
            </div>
            <div class="navigation-cover-left-1"></div>
            <div class="navigation-cover-left-2"></div>
            <div class="navigation-cover-right-1"></div>
            <div class="navigation-cover-right-2"></div>

            <div class="navigation-arrow-left"><</div>
            <div class="navigation-arrow-right">></div>

        </div>

    </header>
    <div class="header-margin" ></div>

    <!-- この部分が各ページに切り替わる -->
    <router-outlet></router-outlet>
</body>
</html>