<!-- 新規投稿欄 -->
<div class="input-wrap" >
    <div class="icon" >

    </div>
    <div class="input" >
        <textarea
                tabindex="1"
                [(ngModel)]="post.message"
                placeholder="思いついたことを共有してみましょう"
                (keydown)="onInputAreaKeydown($event)"
        ></textarea>
        <div class="zone-select" >
            <div class="zone-item public" >Public</div>
            <div class="zone-item" >紳士クラスタ</div>
            <div class="zone-item" >N88-BASIC</div>
            <div class="zone-plus" >+</div>
        </div>
        <img class="user-icon" src="{{user.iconUrlMedium}}">
    </div>


</div>
<div class="buttons" >
    <a
        tabindex="1"
        class="input-button"
        role="button"
        (click)="onSendPost(post)"
        (keydown)=" $event.keyCode === 13 && onSendPost(post)"
        [ngClass]="{active: post.message }"
    ><i class="fa fa-pencil"></i> 投稿</a>
</div>
<div class="clearfix" ></div>
