<!-- ポスト -->
<article class="post img">
	<section class="main">
		<header class="cf">
			<i class="fa menu fa-sort-desc"></i>
			<nav role="navigation">
				<ul>
					<li><i class="fa fa-pencil-square-o"></i>edit</li>
					<li><i class="fa fa-times"></i>delete</li>
				</ul>
			</nav>
			<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
			<section class="cf info">
				<h2>YukiTANABE</h2>
				<small><i class="fa fa-tags"></i>進捗状況</small>
				<time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
			</section>
		</header>
		<section class="detail">
			<p>進捗してるわけがないじゃないですか。</p>
			<section class="img cf">
				<img src="/lib/img/img_dummy001.jpg" alt="dummy" />
			</section>
		</section>
		<div class="aside cf">
			<ul class="buttons">
				<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
				<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
			</ul>
		</div>
	</section>
	<section class="comments">
		<comment></comment>
		<comment></comment>
		<comment></comment>
	</section>
</article>