<!-- header -->
<header id="header" role="banner">
	<h1>進捗なんてしない(Shinchoku Nante Shinai = SNS)</h1>
</header>
<section id="console">
	<input type="text" placeholder="type &quot;$sns -h&quot; to show what this is." />
</section>

<!-- help -->
<!--<section id="help">-->
	<!--<div class="wrap">-->
		<!--<ul>-->
			<!--<li><a role="button" data-act="question">?</a> to show/hide help</li>-->
			<!--<li><a role="button" data-act="colon">:</a> and <a role="button" data-act="slash">/</a> to target console</li>-->
			<!--<li><a role="button" data-act="escape">esc</a> to release from console</li>-->
		<!--</ul>-->
		<!--jsからapiコマンドたたいて投稿できるとか技術屋ターゲットにするってなら面白そうじゃない？的な。別に普通の投稿欄でもいいんだけれど。-->
	<!--</div>-->
<!--</section>-->

<!-- timeline -->
<section class="cf" id="main" role="main">

	<!-- post -->
	<article class="post">
		<section class="main">
			<header class="cf">
				<i class="fa menu fa-sort-desc"></i>
				<nav role="navigation">
					<ul>
						<li><i class="fa fa-pencil-square-o"></i>edit</li>
						<li><i class="fa fa-times"></i>delete</li>
					</ul>
				</nav>
				<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				<section class="cf info">
					<h2>YukiTANABE</h2>
					<small><i class="fa fa-tags"></i>進捗状況</small>
					<time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
				</section>
			</header>
			<section class="detail">
				<p>進捗してるわけがないじゃないですか。</p>
				<section class="img cf">
					<img src="/lib/img/img_dummy001.jpg" alt="dummy" />
				</section>
			</section>
			<div class="aside cf">
				<ul class="buttons">
					<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
					<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
				</ul>
			</div>
		</section>
		<section class="comments">
			<article class="comment">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
					<section class="img cf">
						<img src="/lib/img/img_dummy002.gif" alt="dummy" />
					</section>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<article class="comment">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<article class="comment">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<section class="input">
				<textarea placeholder="comment..."></textarea>
				<i class="fa fa-camera"></i>
			</section>
		</section>
	</article>

	<!-- post include image -->
	<article class="post img">
		<section class="main">
			<header class="cf">
				<i class="fa menu fa-sort-desc"></i>
				<nav role="navigation">
					<ul>
						<li><i class="fa fa-pencil-square-o"></i>edit</li>
						<li><i class="fa fa-times"></i>delete</li>
					</ul>
				</nav>
				<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				<section class="cf info">
					<h2>YukiTANABE</h2>
					<small><i class="fa fa-tags"></i>進捗状況</small>
					<time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
				</section>
			</header>
			<section class="detail">
				<p>進捗してるわけがないじゃないですか。</p>
				<section class="img cf">
					<img src="/lib/img/img_dummy001.jpg" alt="dummy" />
				</section>
			</section>
			<div class="aside cf">
				<ul class="buttons">
					<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
					<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
				</ul>
			</div>
		</section>
		<section class="comments">
			<article class="comment img">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
					<section class="img cf">
						<img src="/lib/img/img_dummy002.gif" alt="dummy" />
					</section>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<article class="comment">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<article class="comment">
				<header class="cf">
					<img class="ico" src="/lib/img/icon.jpg" alt="yukitanabe" />
				</header>
				<section class="detail">
					<h2>YukiTANABE</h2><time datetime="2016-02-28T00:01:58+09:00">Feb 28, 2016 00:01</time>
					<p>進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。進捗してるわけがないじゃないですか。</p>
				</section>
				<aside class="cf">
					<ul class="buttons">
						<li><a class="share" role="button"><i class="fa fa-share-alt"></i></a></li>
						<li><a class="pachun" role="button"><i class="fa fa-lightbulb-o"></i></a></li>
					</ul>
				</aside>
			</article>
			<section class="input">
				<textarea placeholder="comment..."></textarea>
				<i class="fa fa-camera"></i>
			</section>
		</section>
	</article>
</section>