<div class="modal-cover" ></div>
<div class="modal-window" >
    <div class="modal-close-button" >✕</div>
    <div class="modal-header" >
        ゾーンエディタ
    </div>
    <div class="modal-description" >
        ポストの公開範囲と、ストリームのカスタマイズが行えます。
    </div>
    <div class="modal-body" >
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
        本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文<br>
    </div>
</div>